<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>682526064569-gqroe5fcfvbj4userphtarko4vd42rge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682526064569-gqroe5fcfvbj4userphtarko4vd42rge</string>
	<key>API_KEY</key>
	<string>AIzaSyC_OVB1LVXKt6PfE481U4Drha_tBlMWP68</string>
	<key>GCM_SENDER_ID</key>
	<string>682526064569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jademrkim.Talk2Me</string>
	<key>PROJECT_ID</key>
	<string>talk2me-jade</string>
	<key>STORAGE_BUCKET</key>
	<string>talk2me-jade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682526064569:ios:137314ddf55ac18f</string>
	<key>DATABASE_URL</key>
	<string>https://talk2me-jade.firebaseio.com</string>
</dict>
</plist>